<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.AdvertisementDao">

    <resultMap id="advertisementMap" type="com.heeexy.example.util.model.One2Many">
        <id column="advertisementId" property="advertisementId" />
        <result column="advertisementType" property="advertisementType" />
        <result column="srcUrl" property="srcUrl" />
        <result column="advertisementStatus" property="advertisementStatus" />
    </resultMap>

    <select id="listAllAdvertisement" resultMap="advertisementMap">
        SELECT
        advertisement_id      advertisementId
        ,src_url              srcUrl
        ,advertisement_status advertisementStatus
        ,advertisement_type   advertisementType
        FROM advertisement
        <where>
            <if test="name!=null and name!=''">
                advertisement_type LIKE "%"#{name}"%"
            </if>
        </where>
        LIMIT #{offSet}, #{pageRow}
    </select>

    <select id="countAdvertisement" resultType="java.lang.Integer">
        SELECT COUNT(0) FROM advertisement
        <where>
            <if test="name!=null and name!=''">
                advertisement_type LIKE "%"#{name}"%"
            </if>
        </where>
    </select>
    
    <insert id="addAdvertisement" useGeneratedKeys="true" keyProperty="advertisementId">
        INSERT INTO
        advertisement(src_url,advertisement_type,advertisement_status)
        VALUES (#{srcUrl},#{advertisementType},#{advertisementStatus})
    </insert>

    <update id="updateAdvertisement">
        UPDATE advertisement SET src_url = #{srcUrl},advertisement_type = #{advertisementType}
        WHERE advertisement_id = #{advertisementId}
    </update>

    <update id="removeAdvertisement">
        UPDATE advertisement SET advertisement_status = #{advertisementStatus}
        WHERE advertisement_id = #{advertisementId}
    </update>
</mapper>