<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.ChatDao">

    <!--获取用户消息列表的所有信息-->
    <select id="getUserById" resultType="com.alibaba.fastjson.JSONObject">
        select
        c.chatlist_id     messageid,
        u.unionid  uid,
		u.username username,
		u.iconurl  avatar,
		(select chat_content
        from chat_message
        where chatlist_id =c.chatlist_id and create_time =(select max(create_time) from chat_message
        where chatlist_id =c.chatlist_id)) content,
        (select status
        from chat_message
        where chatlist_id =c.chatlist_id and create_time =(select max(create_time) from chat_message
        where chatlist_id =c.chatlist_id)) readstate,
        (select DATE_FORMAT(create_time, '%Y-%m-%d %T')  createTime
        from chat_message
        where chatlist_id =c.chatlist_id and create_time =(select max(create_time) from chat_message
        where chatlist_id =c.chatlist_id)) time
        from chat_message as c
		inner JOIN user as u ON u.unionid = c.second_user_id
        where first_user_id = #{uuid}
		group  by  second_user_id   having count(second_user_id) > 0
    </select>
    <!--获取用户消息详情的所有信息-->
    <select id="getChatMessage" resultType="com.alibaba.fastjson.JSONObject">
        select
        u.unionid  userid,
		u.iconurl  userimgurl,
		chat_content text,
        case first_user_id when #{firstid} then '1' else '0' end  state
        from chat_message
        inner JOIN user as u ON u.unionid = chat_message.first_user_id
        where chatlist_id = CONCAT(#{firstid},'-',#{secondid})
        ORDER BY chat_message.create_time asc
    </select>

    <!--添加私聊发送消息-->
    <insert id="addFirstChatMessage" parameterType="com.alibaba.fastjson.JSONObject">
        INSERT INTO chat_message
            (first_user_id,chat_content,second_user_id,chatlist_id)
        VALUES
            (#{firstId},#{content},#{secondId},CONCAT(#{firstId},'-',#{secondId}))
    </insert>
    <!--添加私聊发送消息-->
    <insert id="addSecondChatMessage" parameterType="com.alibaba.fastjson.JSONObject">
        INSERT INTO chat_message
            (first_user_id,chat_content,second_user_id,chatlist_id)
        VALUES
            (#{firstId},#{content},#{secondId},CONCAT(#{secondId},'-',#{firstId}))
    </insert>
    <!--修改私聊消息已读状态-->
    <update id="updateChatMessageStatus" parameterType="com.alibaba.fastjson.JSONObject">
        update chat_message
        set status = '2'
        where chatlist_id = CONCAT(#{firstid},'-',#{secondid})
    </update>
    <!--删除消息-->
    <delete id="deleteChatMessage" parameterType="com.alibaba.fastjson.JSONObject">
        DELETE FROM chat_message
        where chatlist_id = CONCAT(#{firstId},'-',#{secondId})
    </delete>



</mapper>