<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.CollectionDao">
    <resultMap id="collectionMap" type="com.heeexy.example.util.model.One2Many">
        <id column="collectionId" property="collectionId" />
        <result column="userId" property="userId" />
        <result column="postId" property="postId" />
        <result column="collectionTime" property="collectionTime" />
    </resultMap>

    <select id="getByUserId" resultMap="collectionMap">
        SELECT
        collection_id                                                            collectionId
        ,DATE_FORMAT(collection_time, '%Y.%m.%d %T')                             collectionTime
        ,post_id                                                                 postId
        ,(SELECT post_text FROM post_table WHERE post_table.post_id = c.post_id) postText
        FROM collection c
        WHERE user_id = #{userId}
        ORDER BY collection_time DESC LIMIT #{offSet}, #{pageRow}
    </select>

    <insert id="addCollection" useGeneratedKeys="true" keyProperty="collectionId">
        INSERT INTO collection(user_id,post_id)
        VALUES (#{userId},#{postId})
    </insert>

    <delete id="deleteCollection">
        DELETE FROM collection WHERE post_id = #{postId} AND user_id = #{userId}
    </delete>

    <select id="getByPostIdCount" resultType="java.lang.Integer">
        SELECT COUNT(0) FROM collection WHERE post_id = #{postId} AND user_id = #{userId}
    </select>

    <select id="getByUserIdCount" resultType="java.lang.Integer">
        SELECT COUNT(0) FROM collection WHERE user_id = #{userId}
    </select>
</mapper>