<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.CommentDao">
    <resultMap id="commentMap" type="com.heeexy.example.util.model.One2Many">
        <id column="commentId" property="commentId" />
        <result column="postId" property="postId" />
        <result column="postUserId" property="postUserId" />
        <result column="commentUserId" property="commentUserId" />
        <result column="acceptUserId" property="acceptUserId" />
        <result column="commentText" property="commentText" />
        <result column="commentTime" property="commentTime" />
        <result column="commentState" property="commentState" />
    </resultMap>

    <select id="listAllComment" resultMap="commentMap">
        SELECT
        comment_id                                                     commentId,
        post_id                                                        postId,
        (select username from user where user.uuid = c.postuser_id)    postUserName,
        (select username from user where user.uuid = c.commentuser_id) commentUserName,
        (select username from user where user.uuid = c.acceptuser_id)  acceptUserName,
        comment_text                                                   commentText,
        DATE_FORMAT(comment_time, '%Y.%m.%d %T')                       commentTime,
        comment_state                                                  commentState
        FROM comment c
        <where>
            <if test="commentText!=null and commentText!=''">
                comment_text LIKE concat('%',#{commentText},'%')
            </if>
            <if test="beforeDate != null and beforeDate != '' and afterDate !=null and afterDate !=''">
                AND DATE(comment_time) BETWEEN #{beforeDate} AND #{afterDate}
            </if>
            <if test="uuidList !=null and uuidList.size()>0 ">
                AND commentuser_id in
                <foreach collection="uuidList" item="commentUserId" open="(" close=")" separator=",">
                  #{commentUserId}
                </foreach>
            </if>
        </where>
        ORDER BY post_id LIMIT #{offSet}, #{pageRow}
    </select>

    <select id="countComment" resultType="Integer">
        SELECT COUNT(0) FROM comment
        <where>
            <if test="commentText!=null and commentText!=''">
                comment_text LIKE concat('%',#{commentText},'%')
            </if>
            <if test="beforeDate != null and beforeDate != '' and afterDate !=null and afterDate !=''">
                AND DATE(comment_time) BETWEEN #{beforeDate} AND #{afterDate}
            </if>
            <if test="uuidList !=null and uuidList.size()>0 ">
                AND commentuser_id in
                <foreach collection="uuidList" item="commentUserId" open="(" close=")" separator=",">
                    #{commentUserId}
                </foreach>
            </if>
        </where>
    </select>

    <update id="removeComment">
        UPDATE comment
        SET
        comment_state = #{commentState}
        WHERE comment_id = #{commentId}
    </update>

    <insert id="addComment" useGeneratedKeys="true" keyProperty="comment_id">
        INSERT INTO comment(post_id,postuser_id,commentuser_id,acceptuser_id,
        comment_text,comment_state)
        VALUES (#{postId},#{postUserId},#{commentUserId},#{acceptUserId},#{commentText},
        #{commentState})
    </insert>

    <select id="getByCommentUserId" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        post_id                                         postId
        FROM comment c
        WHERE commentuser_id = #{commentUserId}  AND c.comment_state = 1
        ORDER BY comment_time
    </select>

    <select id="countByCommentUserId" resultType="java.lang.Integer">
        SELECT COUNT(0) FROM comment WHERE commentuser_id = #{commentUserId}  AND comment_state = 1
    </select>

    <select id="getByAcceptUserId" resultMap="commentMap">
        SELECT
        comment_id                                                     commentId,
        post_id                                                        postId,
        (select username from user where user.uuid = c.postuser_id)    postUserName,
        (select username from user where user.uuid = c.commentuser_id) commentUserName,
        (select username from user where user.uuid = c.acceptuser_id)  acceptUserName,
        comment_text                                                   commentText,
        DATE_FORMAT(comment_time, '%Y.%m.%d %T')                       commentTime,
        comment_state                                                  commentState
        FROM comment c
        WHERE acceptuser_id = #{acceptUserId}  AND c.comment_state = 1
        ORDER BY comment_time LIMIT #{offSet}, #{pageRow}
    </select>

    <select id="countByAcceptUserId" resultType="java.lang.Integer">
        SELECT COUNT(0) FROM comment WHERE acceptuser_id = #{acceptUserId}  AND comment_state = 1
    </select>

    <select id="getByPostId" resultMap="commentMap">
        SELECT
        comment_id                                                               commentsidid,
        commentuser_id                                                           commentsid,
        (select username from user where user.uuid = c.commentuser_id)           commentUserName,
        (select iconurl from user where user.uuid = c.commentuser_id)            commentsimg,
        (select username from user where user.uuid = c.acceptuser_id)            acceptUserName,
        comment_text                                                             commentstext
        FROM comment c
        WHERE post_id = #{postId}  AND c.comment_state = 1
        ORDER BY comment_time DESC
    </select>

    <select id="getByPostIdCount" resultType="java.lang.Integer">
        SELECT COUNT(0) FROM comment WHERE post_id = #{postId}  AND comment_state = 1
    </select>

    <select id="getByCommentId" resultType="java.lang.Integer">
        SELECT post_id FROM comment WHERE comment_id = #{commentId}
    </select>
</mapper>